@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 0, 0%, 20%;
  --background: 0, 0%, 95%;
  --foreground: 0, 0%, 27%;
}

@layer base {
  .light {
    --primary: 0, 0%, 20%;
    --background: 0, 0%, 95%;
    --foreground: 0, 0%, 7%;
    --stroke-color: hsl(0, 0%, 7%);
    --mixed: 0, 0%, 35%;

    transition: background-color 0.5s ease, color 0.5s ease;
  }

  .dark {
    --primary: 0, 0%, 85%;
    --background: 0, 0%, 7%;
    --foreground: 0, 0%, 90%;
    --stroke-color: hsl(0, 0%, 80%);
    --mixed: 0, 0%, 55%;

    transition: background-color 0.5s ease, color 0.5s ease;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

* {
  user-select: none;
}
